*{
    color: white;
}
body{
    background-color: black;
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}
.nav{
    background-color: rgb(99, 99, 99);
    text-align: center;
    width: 75%;
    height: 2vh;
    justify-content: center;
    margin-left: 13%;
}
.section{
    border: 5px solid black;
    border-radius: 5%;
    text-align: center;
}
.Article1{
    background-image: url(TBackground.png);
    margin-top: 2vh;
    text-align: center;
    height: 200px;
    border : 2px solid black;
    border-radius: 5%;

}
.grid-container{
    margin-top: 2vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.grid-Product1{
    display: grid;
    border: 5px solid black;
    width: 450px;
    text-align: center;
    margin-top: 2vh;
}
.grid-Product1 > h1:hover{
    color: brown;
}
#Link1, #Link2, #Link3{
    color: white;
    margin-bottom: 10px;
    margin-top: 40px;
    width: auto;
    height: 10px;
    text-align: center; 
}
#Link3:hover{
    color: blue;
}
#Link2:hover{
    color: blue;
}
#Link1:hover{
    color: blue;
}
.grid-Product2{
    display: grid;
    border: 5px solid black;
    width: 450px;
    text-align: center;
    margin-top: 2vh;
    margin-left: 2vw;
}
.grid-Product2 > h1:hover{
    color: brown;
}
.grid-Product3{
    display: grid;
    border: 5px solid black;
    width: 450px;
    text-align: center;
    margin-top: 2vh;
    margin-left: 2vw;
}
.grid-Product3 > h1:hover{
    color: brown;
}
.Bracelet1{
    margin-left: 2vh;
    margin-bottom: 2vh;
}
.Bracelet1:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);  
        border: 1px solid white;
}
a{
    margin: 100px;
    color: aliceblue;
}
a:hover{
    color: blue;
}

.main{
    margin : 2vh;
    display: flex;
    border-radius: 2%;
    background-color: whitesmoke;
}
footer{
    margin-top: 10%;
    background-color: black;
    /* text-align: end; */
    padding: 2vh;
}
#FooterCopyright{
    text-align: end;
}
.row{
   margin: auto;
}
.column{
    margin: auto;
} 
